//Button
  .btn {
      font-size: 15px;
      padding: 5px 15px;
      border: 0;
      color: #fff;
      border-radius: 3px;
      transition: all 250ms ease-in-out;
      cursor: pointer;
&:focus {
     outline: none;
 }
}


//COLORS
.turquoiseColor {
  color: #65C5C1;
}

.powderBlueColor {
  color: #B1E2DF;
}

.darkBlueColor {
  color: #0E1C36;
}

.ceriseColor {
  color: #D1345B !important;
}

// color background
.turquoiseBackground{
  background-color: #65C5C1 !important;
}

.ceriseBackground {
  background-color: #D1345B;
}

.orangeBackground {
  background-color: #f96e46;
}

.greenBackground {
  background-color: #7fb069;
}

//remove default css link
a:link
{
  text-decoration:none;
  color: black;
}

.text-center {
  text-align: center;
}