.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;

    .image {
      img {
        width: 25%;
        height: 25%;
        margin-top: 0.5em;
      }
    }
  }
}


.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 70%;
    height: 70%;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
}

.btnSituation {
  margin-bottom: 2em;
  margin-right: 1em;
}